.dropdown-content{
    position: absolute;
    background-color: #ffffff;
    min-width: 380px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    border: 1px solid gainsboro;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #efefefd4;
}
